.right_payment{
    background-color: white;
    z-index: 50;
}

.post_detail_payment_image{
    width:100%; 
}

.payment_heart_wrapper{
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: rgb(255, 230, 212);
    display:flex;
    justify-content: center;
    align-items: center;  
}

.payment_heart_wrapper .fa-heart{
    color: white;
    font-size: 30px;
}

.payment_buttons_wrapper {
    display:flex;
    justify-content: space-between;
}

.payment_start_button{
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 18px; 
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    max-width: calc(100% - 66px);
}
