.navbar_wrapper{
    padding-left: 15%;
    padding-right: 15%;
}

#logo{
    color: #ff7f00 !important;
    font-weight: 600;
}

#nav_link_wrapper{
    width:100%;
    justify-content: flex-end;
    display: flex;
}